{% extends 'admin/master.html' %} {% block header %} {% if
current_user.is_authenticated and current_user.is_superuser %}
<div class="navbar">
  <a href="{{ url_for('core.admin_dashboard') }}">Home</a>
  <a href="{{ url_for('core.admin_products') }}">Product</a>
  <a href="{{ url_for('core.admin_categories') }}">Category</a>
  <a href="{{ url_for('core.admin_orders') }}">Order</a>
  <a href="{{ url_for('core.admin_media') }}">Media Files</a>
  <a href="{{ url_for('core.admin_logout') }}" class="logout-btn">Logout</a>
</div>
{% endif %} {% endblock %} {% block body %} {% if current_user.is_authenticated
and current_user.is_superuser %}
<div class="jumbotron">
  <h1 class="display-4">Petopia Admin Dashboard</h1>
  <p class="lead">Find your forever friend today.</p>
  <hr class="my-4" />
  <p class="lead">
    <a
      class="btn btn-danger btn-lg"
      href="{{ url_for('core.admin_logout') }}"
      role="button"
      >Logout</a
    >
    <a href="{{ url_for('core.home') }}" class="btn btn-success btn-lg"
      >Go to Petopia Site</a
    >
  </p>
</div>
{% else %}
<div class="login-container">
  <p>You need to log in as an Admin to access this page.</p>
</div>
{% endif %} {% endblock %}
